:root {
    --page-padding: 20px;
    --price: hsl(158, 36%, 37%);
  }
  
  * {
    box-sizing: border-box;
    font-family: "Fraunces", serif;
    font-weight: bold;
  }

html {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

body {
    height: 100%;
    margin: 0;
    
}

main{
    background-color: white;
    display: flex;
    margin-inline: auto;
    margin-top: 200px;
    width: 600px;
    border-radius: 25px;
    overflow: hidden;
}
h3,h5{
    font-weight: 400;
}

img{
    width:300px;
    display: block;
}

h1 , h2 , h3 , p , a{
margin-left: var(--page-padding);

}
h1{
    font-weight: 0;
}

h2{
    color: var(--price);
}
p{
    font-size: 14px;
    color: grey;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.content_perfume{
    padding-inline: 20px;
    margin: 0;
    overflow: hidden;
}

.cart{
    background-color:var(--price);
    border-radius: 10px;
    padding: 15px;
    display: block;
    text-align: center;
    width: 200px;
    color: white;
}

svg{
    margin-right: 10px;
}

.money{
    display: flex;
    justify-content: space-evenly;

}

h5{
    text-decoration: line-through;
    margin-block: auto;
    color: gray;
}

.perfume_header{
    font-family: "Montserrat", sans-serif;
    font-weight: 500 700;
    text-transform: uppercase;
    color:gray;
    font-size: 12px;
    padding-top: 20px;

}


@media (max-width: 375px) {
    :root {
        --page-padding: 10px; /* Adjusted padding for smaller screens */
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 100px;
        height: 100%;
    }

    p{
        font-size: 15px;
        text-align:left;
    }
    h1{
        font-size: 36px;
        
    }
    .cart{
        padding: 15px;
        width: 300px;
    }
    .image{
        width:100%;
        height:calc(100%*1/2.8);
        background-image: url("images/image-product-desktop.jpg");
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        
    }
    h2{
        font-size: 30px;
        margin-right: 20px;
    }
    h5{
        padding-right: 120px;
    }
}